*{ box-sizing: border-box }

img {
   width:100%;
   display: block;
}

#app-container{
   margin: 0 auto;
   background: url("../images/surfer-chich.jpg") center center no-repeat;
   background-size: cover;
   height: 100vh;

   .columns-container{
      font-size: 0;
      background-color: rgb(208,213,217);
      width:60%;
      height:30%;
      position: absolute;
      top: 64%;
      left: 34%;
   }
   .columns-container > *{
      font-size: medium;
      text-align: center;
      vertical-align: top;
      display:inline-block;
      margin: 0 auto;
      width:50%;
   }
   .button {
      border: 3px solid chartreuse;
      background-color: black;
      padding-left: 4px;
      padding-right: 4px;

   }
   .button span{
      color:white;
   }


}
#app-container2{
   margin: 0 auto;
   background: url("../rsvp-shop/avocado-splash.jpg") center center no-repeat;
   background-size: cover;
   height: 100vh;

   .list-container{
      font-size: 0;
      background: papayawhip;
      font-family: fantasy, sans-serif;

   }
   .list-container > * {
      font-size: XX-large;
      text-align: center;
      vertical-align: top;
      display:inline-block;
      margin: 0 auto;
      width:25%;
   }
   .bag{
      position: absolute;
      top:120%;
      left:90%;
      height: 30px;
      width: 30px;
   }
   .shop{
      font-family: fantasy;
      border:5px solid black;
      color:white;
      background:black;
      height:80px;
      width:100px;
      text-align: center;
      vertical-align: center;
      position:absolute;
      top:195%;
      left:45%;

   }

}
